* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #007bff;
    margin: 2rem;
}

h1, h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, textarea, button {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin: 1rem;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li { 
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #050101;
}

@media (min-width: 1024px) {
 
    h1 {
        margin-top: 2rem;
    }

    form {
        flex-direction: row;
        align-items: center;
    }

    input, textarea {
        flex: 1;
    }

    button {
        margin-left: 10px;
        margin-right: 0;
    }

    li {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}